<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./components/head') %>
        <title>รายละเอียดสินค้า</title>
    </head>
    <body>
        <%- include('./components/navbar') %>
        <% if(product) {%>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card mt-4 navbar_color">
                            <img class="card-img-top img-fluid" src="images/products/<%=product.image%>" alt="" />
                            <div class="card-body">
                                <h3 class="card-title text-primary"><%=product.name%></h3>
                                <h4>$ <%=product.price%></h4>
                                <p class="card-text"><%=product.description%></p>
                                
                            </div>
                            <form action="/addcart" method="POST">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <input type="hidden" name="product_id" value="<%= product._id%>">
                                    <input type="hidden" name="product_name" value="<%= product.name%>">
                                    <input type="hidden" name="product_price" value="<%= product.price%>">
                                    <button type="submit" class="btn btn-warning btn-lg m-3 fw-bolder"><i class="fa-solid fa-cart-shopping me-3"></i>Add to Cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </body>
</html>
