<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
        <title>รายละเอียดสินค้า</title>
    </head>
    <body>
        <%- include('navbar') %>
        <% if(product) {%>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card mt-4">
                            <img class="card-img-top img-fluid" src="images/products/<%=product.image%>" alt="" />
                            <div class="card-body">
                                <h3 class="card-title"><%=product.name%></h3>
                                <h4>ราคา <%=product.price%> บาท</h4>
                                <p class="card-text"><%=product.description%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </body>
</html>
